.card-content{
    text-align: center;
    min-height: 300px;
    font-size: x-large;
    font-weight: bolder;
}

.card-action{
    text-align: center;

    button{
        margin: 24px;
        width: 40%;
    }
}